.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    text-align: center;
    border: 1px solid #777777;
    padding: 20px;
  }
  .control {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
  
  .button {
    border: none;
    color: #fff;
    padding: 0.8em 1.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #008cba;
  }
  
  .secondary {
    background-color: #e7e7e7;
    color: #333;
  }
  .success {
    background-color: #4caf50;
  }
  .danger {
    background-color: #f44336;
  }